# Default ignored files
/shelf/
/workspace.xml
Failed/
__pycache__/
Bank.py
example.txt
graphwalker-service.log
Queue_MM1.py
requirements.txt
Resource_MM1.py
test_execution_MM1.py
MM1_example/models/MM1_FIFO2.json